body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

.container {
  display: flex;
  gap: 50px;
}

.eye {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.eye::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.blink {
  height: 10px !important;
  transition: height 0.1s;
}
